.banner {
  position: relative;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
}

.banner-imagem {
  width: 100%;
  max-width: 100vw;
  height: auto;
  display: block;
  margin: 0;
}

.banner-container {
  position: absolute;
  top: 50%;
  left: 23rem;
  transform: translateY(-50%);
  z-index: 1;
}

.banner-container-titulo {
  margin: 0;
  color: #fff;
  font-family: var(--fonte-titulo);
  font-size: 76px;
}

.banner-container-titulo span {
  display: block;
  color: var(--cor-texto-destaque);
  font-size: var(--font-size-xxl);
}